<div class="container">
    <h1>ICSE</h1>
    <div class="classes_col1">
        <div class="class5" on-click="route5()"><h2>Class 5</h2></div>
        <div class="class6" on-click="route6()"><h2>Class 6</h2></div>
        <div class="class7" on-click="route7()"><h2>Class 7</h2></div>
    </div>
    <div class="classes_col2">   
        <div class="class8" on-click="route8()"><h2>Class 8</h2></div>
        <div class="class9" on-click="route9()"><h2>Class 9</h2></div>
        <div class="class10" on-click="route10()"><h2>Class 10</h2></div>
    </div>
</div>