<div class="pcontainer">
    <h1 class="p">Podcasts</h1>
    <ul>
        <li class="pod"><a href="https://youtu.be/IOuzOJiT6Kk">Le Chirurgien des Fruits (The Fruit Surgeon)</a></li>
        <li class="pod"><a href="https://youtu.be/HwZHk5HfOWQ">Vivre à très Haute Altitude (Live at a very High Altitude)</a></li>
        <li class="pod"><a href="https://youtu.be/4tdx5dnWwRc">Les Jobs d'été pour 2022 (Summer Jobs for 2022)</a></li>
        <li class="pod"><a href="https://youtu.be/kfWxme6mq9Y">Les Vacances des Français (French Holidays)</a></li>
        <li class="pod"><a href="https://youtu.be/lpf9A_YHbac">Les Trains de Nuit en France (Night Trains in France)</a></li>
    </ul>
</div>
<div class="ccontainer">
    <h1 class="c">Conte (Stories)</h1>
    <ul>
        <li class="conte"><a href="https://www.thefrenchexperiment.com/stories/chicken-little">Petit Poulet (Chicken Little)</a></li>
        <li class="conte"><a href="https://www.thefrenchexperiment.com/stories/threepigs">Les Trois Petits Cochons (The Three Little Pigs)</a></li>
        <li class="conte"><a href="https://www.thefrenchexperiment.com/stories/goldilocks">Boucles d'or et Les Trois Ours (Goldilocks and the Three Bears)</a></li>
        <li class="conte"><a href="https://www.thefrenchexperiment.com/stories/petitchaperonrouge">Le Petit Chaperon Rouge (Little Red Riding Hood)</a></li>
        <li class="conte"><a href="https://www.thefrenchexperiment.com/stories/uglyduckling">Le Vilain Caneton (Ugly Duckling)</a></li>
    </ul>
</div>
