div.container {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    position: relative;
    top: 70px;
    color: #494E6B;
    margin-left: 0;
    width: 100vw;
    max-width: 100%;
    /* overflow-x: hidden; */
}

div.choose {
    display: flex;
    text-align: center;
}

div.why {
    position: absolute;
    left: 140px;
    top: 380px;
    width: 75%;
}

div.about {
    position: absolute;
    left: 140px;
    top: 70px;
    border: 2px solid #494E6B;
    padding: 20px;
    width: 65%;
}

img.i {
    height: 80px;
}

img.image {
    position: absolute;
    right: 0;
    height: 600px;
    width: 340px;
    top: 30px;
}

div.i1, div.i2, div.i3, div.i4 {
    margin-right: 150px;
}

h3 {
    color: rgba(152, 94, 109, 1);
}

h2 {
    margin-bottom: 30px;
}

h4 {
    color: rgba(152, 94, 109, 1);
}